/* Navbar.css */

.navbar {
    background-color: #000408dc; /* Background color for the navbar */
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-logo {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
  }
  
  .navbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar-menu li {
    margin-right: 20px;
  }
  
  .navbar-menu li:last-child {
    margin-right: 0;
  }
  
  .navbar-menu li a {
    color: #fff;
    text-decoration: none;
  }
  
  .join-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
  }
  
  .join-button:hover {
    background-color: #0056b3;
  }
  
  .active-link {
    color: #f00; /* Red color for active links */
    font-weight: bold;
  }
  