/* Exercise.css */

/* Set the background gradient to cover the entire page */
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #000, #0360cbdc);
  }
  
  /* Exercise container styles */
  .exercise {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px; /* Added padding to give space for the background */
  }
  
  /* Header styles */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .exercise-title {
    font-size: 24px;
    font-weight: bold;
  }
  
  .selected-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Exercise list styles */
  .exercise-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
  }
  
  /* Exercise card styles */
  .exercise-card {
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .exercise-card:hover {
    background-color: #e0e0e0;
  }
  
  .selected {
    background-color: #007bff;
    color: #fff;
  }
  
  /* Exercise details styles */
  .exercise-details {
    margin-top: 10px;
  }
  
  .detail {
    margin-bottom: 5px;
  }
  
  .label {
    display: inline-block;
    width: 100px;
  }
  
  .input-field {
    padding: 5px;
    width: 80px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .input-field:focus {
    outline: none;
    border-color: #007bff;
  }
  
  /* Navbar styles */
  .navbar {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-logo {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
  }
  
  .navbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar-menu li {
    margin-right: 20px;
  }
  
  .navbar-menu li:last-child {
    margin-right: 0;
  }
  
  .navbar-menu li a {
    color: #fff;
    text-decoration: none;
  }
  
  .join-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
  }
  
  .join-button:hover {
    background-color: #0056b3;
  }
  